/* ---------------------------------------- */
/* note details */

.note-content-container {
   width: 100%;

   .note-content {
      /* this prevents text from overflowing the note */
      word-wrap: break-word;
      letter-spacing: 1px;
      color: var(--text-col);
      font-size: 0.7rem;
   }
}

.note-header-container {
   display: flex;
   gap: 10px;
   flex-direction: column;
   height: 40%;

   .note-date {
      font-size: 10px;
      color: var(--text-dark);
   }

   .note-title {
      font-size: 0.8rem;
      color: var(--text-dark);
      padding-bottom: 0.5rem;
      border-bottom: 1px solid var(--text-col);
   }

   .line {
      border-bottom: 2px solid var(--text-col);
      border-radius: 0 25% 25% 0;
      width: 66%;
      position: relative;
      display: none;
   }
}