@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  
   --text-col:#4c3460;

   --white3: rgba(255, 255, 255, 0.3);
   --white7: rgba(255, 255, 255, 0.7);

   --gradient-1: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3)); 
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

html {
   scroll-behavior: smooth;
   width: 100%;
   min-height: 100vh;
}

p, ul, ol{
	font-size: .8rem ;
	letter-spacing: 3px;
}

label,a {
   font-size: .9rem;
   letter-spacing: 3px;
   margin: 0.5rem 1rem;
}

input[type='submit'],
button {
   background: none;
   font-size: .9rem;
   cursor: pointer;
}


input[type='text'], textarea {
   padding: 0.5rem;
   min-width: 250px;
   border: 1px solid var(--text-col);
   font-size: 0.7rem;
   letter-spacing: 2px;
   text-transform: capitalize;
   background: none;
   transition: 0.3s ease-in-out;
   cursor: pointer;
   border-radius: 3px;
	margin: 0.5rem;
}

.visible {
	opacity: 1;
	pointer-events: all;
   transition: 0.3s ease-in-out;
}

.hidden {
   opacity: 0;
   pointer-events: none;
   position: absolute;
   transition: 0.3s opacity ease-in-out;
}
/* 
::-webkit-scrollbar {
   height: 80%;
   width: 10px;
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   border-radius: 20px;
   height: 5px;
   background-color: rgba(255, 255, 255, 0.5);
} */

