@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
   --background-col: #fff;
   --main-col: #000;
   --accent-col: #eeeeee;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
}

html {
   scroll-behavior: smooth;
   width: 100%;
   min-height: 100vh;
}

a,
a::after,
a:focus {
   text-decoration: none;
   color: inherit;
}

/* ---------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
   text-transform: uppercase;
   letter-spacing: 4px;
   margin: 0.5rem 1rem;
}

h1 {
   font-weight: 200;
}

h2,
h3,
h4,
h5,
h6 {
   font-weight: 400;
}


p, ul, ol{
	font-size: .8rem ;
	letter-spacing: 3px;
}

label,a {
   text-transform: uppercase;
   font-size: 0.8rem;
   letter-spacing: 3px;
   margin: 0.5rem 1rem;
}

input[type='submit'],
button {
   margin: 1rem;
   text-transform: uppercase;
   background: none;
   border: 1px solid black;
   font-size: 1rem;
   font-weight: 300;
   padding: 1rem 2rem;
   cursor: pointer;
}

input[type='submit']:hover,
input[type='text']:focus,
button:hover {
   transition: 0.3s ease-in-out;
   background-color: var(--accent-col);
}

input[type='text'], textarea {
   padding: 0.5rem;
   min-width: 250px;
   border: 1px solid black;
   font-size: 0.7rem;
   letter-spacing: 2px;
   text-transform: capitalize;
   background: none;
   transition: 0.3s ease-in-out;
   cursor: pointer;
   border-radius: 3px;
	margin: 0.5rem;
}

select {
   border: none;
   padding: 0.5rem;
   min-width: 15rem;
   letter-spacing: 2px;
   text-transform: capitalize;
   background: none;
   cursor: pointer;
}

.visible {
	opacity: 1;
	pointer-events: all;
   transition: 0.3s ease-in-out;
}

.hidden {
   opacity: 0;
   pointer-events: none;
   position: absolute;
   transition: 0.3s opacity ease-in-out;
}

::-webkit-scrollbar {
   width: 3px;
   background-color: transparent;
}

::-webkit-scrollbar-thumb {
   border-radius: 50%;
   height: 10%;
   background-color: black;
}

/* -------------------------------------------- */

.window{
   border: 1px solid black;
	padding: 1rem;
}
