.note-gallery {
   /* width: 80%; */
   /* height: 80%; */
   width: 90%;
   height: 100%;
   position: absolute;
   /* left: 52%; */
   /* top: 50%; */
   /* transform: translate(-50%, -50%); */
   right: 0;
   top: 50%;
   transform: translateY(-50%);

   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   justify-content: center;
   gap: 2rem;

   /* background: rgba(255, 255, 255, 0.3); */
   padding: 5% 0;
   border-radius: 20px;
   overflow-y: scroll;
}

.note {
   /* Type=To Do */

   box-sizing: border-box;

   /* Auto layout */
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-around;
   padding: 15px;
   gap: 10px;
   isolation: isolate;
   

   width: 300px;
   height: 250px;

   background: rgba(255, 255, 255, 0.3);
   border: 1px solid var(--text-col);
   box-shadow: 2px 2px 0px var(--text-col);
   border-radius: 12px;
}

/* ---------------------------------------- */
/* note details */

.note .note-content-container {
   width: 100%;
}
.note .note-content {
   /* this prevents text from overflowing the note */
   word-wrap: break-word;
   letter-spacing: 2px;
   color: var(--text-col);
}

.note .note-header-container {
   display: flex;
   gap: 10px;
   flex-direction: column;
   height: 40%;
}
.note .note-header-container .note-date {
   font-size: 10px;
   color: var(--text-light);
}

.note .note-header-container .note-title {
   font-size: 1rem;

}
.note .note-header-container .line {
   /* border-bottom: 3px solid rgba(255, 255, 255, 0.7); */
   border-bottom: 2px solid var(--text-col);
   border-radius: 0 25% 25% 0;
   width: 66%;
   position: relative;
}

/* --------------------------------------------- */
/* animations */

.note:hover .note-header-container {
   transform: translateX(10px);
   transition: transform 1s;
}

.note:hover::before .note-header-container {
   transform: translateX(-10px);
   transition: transform 1s;
}

.note:hover .note-content-container {
   transform: translateX(10px);
   transition: transform 1s;
   transition-delay: 0.2s;
}

/* 
@keyframes moveRight10 {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(10px);
   }
}

@keyframes moveLeft10 {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(-10px);
   }
} */

/* ----------------------------------- */
/* media queries */
/* 
@media screen and (max-width: 890px) {
   .note {
      height: 250px;
   }

   .note .note-header-container .note-title {
      font-size: 1.3rem;
   }
}
@media screen and (max-width: 738px) {
   .note {
      height: 200px;
   }
}

@media screen and (max-width: 477px) {
   .note-gallery {
      padding: 10% 5%;
   }

   .note {
      height: 200px;
   }
}
@media screen and (max-width: 370px) {

	
   .note {
      height: 250px;
   }
}@media screen and (max-width: 320px) {

	
   .note {
      height: 300px;
   }
} */
