

.nav{
	height: 80%;
	position: fixed;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background: rgba(255, 255, 255, 0.8);
	border-radius: 0 40px 40px 0;
}

.nav button{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	outline: none;
	border: none;
	padding: 0;
	margin: .8rem;
	/* background-color: white; */
}

