.nav {
   height: 75%;
   position: fixed;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.nav button {
   border-radius: 50%;
   width: 60px;
   height: 60px;
   outline: none;
   border: none;
   padding: 0;
	margin: 0;
	transform: translateX(-10px);
	
	color: var(--text-col);
	background:var(--gradient-1);
   border-radius: 0 40px 40px 0;
   border: 1px solid var(--text-col);
   box-shadow: 2px 2px 0px var(--text-col);
}


.nav button:hover i{
	transform: translateX(2px);
	transition: .2s linear all;
}