.background {
   background: rgb(191 174 200);
   -webkit-filter: brightness(0.4);
   filter: brightness(0.4);
   // background: #3d433e;
   width: 100%;
   height: 100vh;
   z-index: -100;
   position: fixed;
   top: 0;
   left: 0;
}
